services:
  backend:
    build: ./backend
    ports:
      - "5000:5000"
    networks:
      - net

  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    networks:
      - net

networks:
  net:
